<ion-header>
  <ion-navbar>
    <ion-title>
      Bluetooth Setup
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <ion-label>{{btStatus}}</ion-label>
  </div>
  <div text-center>
    <ion-spinner name='crescent' *ngIf="isConnectedToDevice == false"></ion-spinner>
  </div>
  <div text-center>
    <button ion-button round style="text-align:center" (click)="TurnOnBluetooth()" *ngIf="isConnectedToDevice == false">Connect to Braille Device</button>
  </div>
  <div text-center>
    <button ion-button round style="text-align:center" (click)="OpenTestPage()">Open Test</button>
  </div>
  <div text-center>
    <button ion-button round style="text-align:center" (click)="OpenSpeechUI()">Open Speech UI</button>
  </div>
</ion-content>

